@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Chettan 2'
}
.main--header {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;

}


.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}
 
.main--header div a {
    display: block;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: #989898;
    /* font-family: 'Baloo Chettan 2'; */
}
.main--header div a:hover {
    color:#424141 ;
}

.login--btn {
    background: #99c50a;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 6px 25px;
    margin: 0px 20px 0px 20px;
    font-size: 15px;
}

.main--background {
    background: url(./pic/main-background.png);
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}

.main--text {
    padding-top: 45vh;

}


.bold {}
/* .main--background {
    width: 100%;
    position: relative;
    text-align: center;
} */
/* .main--content {
    position: fixed;
    top: 50%;
    left: 50%;
} */

.main--text{
    color: white;
    
  
}
.member--btn {
    background: #99c50a;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 23px;
    margin-top: 10px;
}
    











@media screen and (max-width: 375px) {
    .menu {
        justify-content: space-between;
    }
    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .login--btn {
        padding: 5px 25px
    }